/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
label,
input,
button {
    display: block;
}

button,
input {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

i {
    font-size: 20px;
    color: #3d5d2d;
}

i.fas.fa-clock,
i.fas.fa-comment {
    color: white;
    font-size: 15px;
}

html {
    font-family: "Open Sans", sans-serif;
    color: rgb(29, 38, 42);
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    background: rgb(38 38 38);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgba(148, 169, 181, 0.3);
    border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 169, 181, 0.5);
}

button,
a {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.container {
    padding-inline: 15px;
}

.btn {
    position: relative;
    border: 1px solid white;
    color: white;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 14px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(transparent));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4), transparent);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), transparent);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.btn:hover {
    -webkit-box-shadow: 3px 3px 9px rgba(23, 153, 219, 0.3);
            box-shadow: 3px 3px 9px rgba(23, 153, 219, 0.3);
}

.btn:hover::before {
    opacity: 1;
}

.section {
    padding-block: 50px;
}

.h1,
.h2,
.h3 {
    color: #dfc4c4;
    font-family: "Nunito", sans-serif;
    ;
    line-height: 1.4;
}

.h1 {
    font-size: 34px;
    text-transform: uppercase;
}

.h2,
.h3 {
    font-weight: 400;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 22px;
}

.w-100 {
    width: 100%;
}

.header-contact {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 4;
}

.header.active {
    -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
            box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
}

.header .container {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

.header-actions .btn span {
    display: none;
}

.user-btn {
    color: rgb(63, 87, 113);
    background: white;
    -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
            box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
}

.nav-toggle-btn span {
    background: rgb(63, 87, 113);
    width: 22px;
    height: 2px;
    border-radius: 2px;
    margin-block: 8px;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.nav-toggle-btn span.two {
    -webkit-transform: scaleX(0.7);
        -ms-transform: scaleX(0.7);
            transform: scaleX(0.7);
}

.nav-toggle-btn span.three {
    -webkit-transform: scaleX(0.4);
        -ms-transform: scaleX(0.4);
            transform: scaleX(0.4);
}

.nav-toggle-btn:hover span {
    background: #3d5d2d;
}

.nav-toggle-btn.active span {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    background: #3d5d2d;
}

.navbar {
    background: rgb(228, 237, 243);
    position: fixed;
    top: 70px;
    bottom: 0;
    right: -260px;
    max-width: 260px;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid white;
    -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
            box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
    visibility: hidden;
    -webkit-transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
    -o-transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
    transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
    visibility: visible;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
    -o-transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
    transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.navbar-link {
    color: white;
    font-family: "Nunito", sans-serif;
    ;
    font-size: 14px;
    padding-block: 5px;
    margin-bottom: 15px;
}

.navbar-link:hover {
    color: #3d5d2d;
}



.hero {
    padding-top: 120px;
}

.hero-title {
    color: black;
    max-width: 20ch;
    margin-bottom: 15px;
}

.hero-text {
    color: black;
    line-height: 1.8;
    margin-bottom: 30px;
}

.hero-banner {
    display: none;
}

.hero-form {
    background: #291613;
    border: 1px solid #312f2f;
    -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
            box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
    border-radius: 18px;
    font-family: "Nunito", sans-serif;
    ;
}

.input-wrapper {
    padding: 15px 20px;
}

.input-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.input-label {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.input-field {
    color: #dfc4c4;
    outline: 2px solid transparent;
    outline-offset: 5px;
    border-radius: 4px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


.input-field::-webkit-input-placeholder {
    color: rgb(63, 87, 113);
}


.input-field::-moz-placeholder {
    color: rgb(63, 87, 113);
}


.input-field:-ms-input-placeholder {
    color: rgb(63, 87, 113);
}


.input-field::-ms-input-placeholder {
    color: rgb(63, 87, 113);
}


.input-field::placeholder {
    color: rgb(63, 87, 113);
}

.hero-form .btn {
    width: calc(100% - 40px);
    height: 50px;
    margin: 20px;
    text-transform: uppercase;
}

.featured-car .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px 15px;
    margin-bottom: 30px;
}

.featured-car-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    color: rgb(63, 87, 113);
    font-size: 14px;
}

.featured-car-link span {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.featured-car-link:hover span {
    color: #dfc4c4;
}


.featured-car-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
}

.featured-car-card {
    -webkit-box-shadow: 0px 3px 5px 5px #324529;
            box-shadow: 0px 3px 5px 5px #324529;
    border-radius: 18px;
    padding: 10px;
}

.featured-car-card .card-banner {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    overflow: hidden;
}

.featured-car-card .card-banner>img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.featured-car-card .card-content {
    padding: 20px 10px 10px;
}

.featured-car-card .card-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.featured-car-card .card-title {
    width: calc(100% - 60px);
}

.featured-car-card .card-title>a {
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.featured-car-card .card-title>a:hover {
    color: #3d5d2d;
}

.featured-car-card .year {
    font-family: "Nunito", sans-serif;
    ;
    font-size: 14px;
    color: #dfc4b9;
    font-weight: 600;
    padding: 3px 12px;
    border: 1px solid white;
    border-radius: 10px;
}

.featured-car-card .card-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.featured-car-card .card-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
}

.featured-car-card .card-list-item i {
    font-size: 20px;
    color: #3d5d2d;
}

.featured-car-card .card-item-text {
    color: #dfc4c4;
    font-size: 14px;
}

.featured-car-card .card-price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

.featured-car-card .card-price {
    font-family: "Nunito", sans-serif;
    ;
    font-size: 14px;
    color: #dfc4c4;
}


.featured-car-card .card-price strong {
    font-size: 24px;
    font-weight: 400;
}

.featured-car-card .btn:last-child {
    height: 36px;
    min-width: 100%;
}

.featured-car-card .fav-btn {
    background: rgb(215, 231, 240);
    color: rgb(17, 139, 210);
    height: 36px;
    width: 36px;
    -webkit-box-shadow: none;
            box-shadow: none;
}


.featured-car-card .fav-btn:hover {
    background: rgb(236, 233, 240);
    color: rgb(161, 17, 17);
}

.get-start .section-title {
    margin-bottom: 25px;
}

.get-start-list {
    display: -ms-grid;
    display: grid;
    gap: 20px;
}

.get-start-card {
    -webkit-box-shadow: 0px 3px 5px 5px #324529;
            box-shadow: 0px 3px 5px 5px #324529;
    padding: 20px;
    border-radius: 18px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.get-start-card:hover {
    background: #291613;
    -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
            box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
}

.get-start-card .card-icon {
    background: rgb(221, 240, 244);
    color: rgb(221, 240, 244);
    height: 50px;
    width: 50px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 14px;
    margin-bottom: 20px;
}




.get-start-card .card-title {
    color: #dfc4c4;
    font-family: "Nunito", sans-serif;
    ;
    font-weight: 400;
    margin-bottom: 15px;
}

.get-start-card .card-text {
    color: rgb(63, 87, 113);
}

.get-start-card .card-link {
    position: relative;
    color: #3d5d2d;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.get-start-card .card-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #3d5d2d;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.get-start-card .card-link:hover::before {
    width: 100%;
}

.blog .section-title {
    margin-bottom: 30px;
}

.blog-card {
    -webkit-box-shadow: 0px 3px 5px 5px #324529;
            box-shadow: 0px 3px 5px 5px #324529;
    border-radius: 18px;
    overflow: hidden;
}

.blog-card .card-banner {

    position: relative;
    overflow: hidden;
}

.blog-card .card-banner img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.blog-card .card-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 30px;
    width: 92px;
}

.blog-card .card-content {
    padding: 20px;
}

.blog-card .card-title {
    margin-bottom: 20px;
}

.blog-card .card-title>a {
    color: inherit;
}

.blog-card .card-title>a:hover {
    color: #3d5d2d;
}

.blog-card .card-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blog-card :is(.publish-date, .comments) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-size: 14px;
    color: rgb(63, 87, 113);
}

.blog .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
}

.blog .blog-list>li {
    max-width: 330px;
    width: 100%;
    scroll-snap-align: start;
}


.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-title {
    text-align: center;
    color: #dfc4b9;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  
  .contact-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  
  .contact-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dfc4b9;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }
  
  .contact-input:focus {
    border-color: #3d5d2d;
  }
  
  .contact-textarea {
    background-color: transparent;
    height: 150px;
  }
  
  .contact-submit {
    width: 100%;
    background-color: #3d5d2d;
    color: #dfc4b9;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  
  .contact-submit:hover {
    background-color: #291613;
  }

.footer {
    border-top: 1px solid white;
    background: rgb(38 38 38);
    color: rgb(63, 87, 113);
}

.footer p {
    color: #dfc4c4;
}

.footer a {
    color: #dfc4c4af;
}

.footer-top {
    padding-block: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 50px;
}

.footer-top .logo {
    margin-bottom: 20px;
}

.footer-top .logo a {
    color: #dfc4c4;
}

.footer-text {
    font-size: 14px;
    line-height: 1.8;
}

.footer-list {
    font-family: "Nunito", sans-serif;
    ;
}

.footer-list {
    width: 50%;
}

.footer-list {
    width: 100%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.footer-list-title {
    color: #dfc4c4;
    font-weight: 600;
    margin-bottom: 8px;
}

.footer-link {
    font-size: 14px;
    padding-block: 6px;
}

.footer-link:hover {
    color: #3d5d2d;
}

.footer-bottom {
    background: rgb(127, 139, 104);
    border-radius: 18px 18px 0 0;
    padding: 20px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-link {
    font-size: 20px;
}


.social-link:hover {
    color: #3d5d2d;
}

.copyright {
    font-size: 14px;
}

.copyright>a {
    display: inline-block;
}

.copyright>a:hover {
    color: #3d5d2d;
}

@media (min-width: 350px) {
    .featured-car-card .card-list {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .featured-car-card .card-price {
        margin-right: auto;
    }

}

@media (min-width: 580px) {
    .container {
        max-width: 540px;
        margin-inline: auto;
    }

    .header-actions .btn span {
        display: block;
        font-weight: 400;
        padding-inline: 15px;
    }

}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    .header-actions {
        gap: 30px;
    }

    .header-contact {
        display: block;
        text-align: center;
    }

    .header-contact .contact-link {
        color: white;
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        line-height: 1.3;
    }

    .header-contact .contact-link:hover {
        color: #3d5d2d;
    }

    .header-contact .contact-time {
        color: white;
        font-size: 10px;
    }

    .hero {
        background-image: url('https://lh4.googleusercontent.com/HEmPaH_dGv5qeel7dCoTCAmidnfM_HVOKPg6XdLu2yTCu_RnaXN-RcFXHY3_cRf2p32EK2mud5uUQMV1ma1SF6sX73rWeNTVILSILulFHxBzUhV1x8rpIxKeRbo_afZcIGzm6tpd');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 85vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 1;
    }

    .hero-form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr 0.8fr;
        grid-template-columns: 1fr 1fr 1fr 0.8fr;
    }

    .input-wrapper {
        border-bottom: none;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .input-label {
        white-space: nowrap;
        overflow: hidden;
    }

    .hero-banner {
        display: none;
        background: url('https://lh4.googleusercontent.com/HEmPaH_dGv5qeel7dCoTCAmidnfM_HVOKPg6XdLu2yTCu_RnaXN-RcFXHY3_cRf2p32EK2mud5uUQMV1ma1SF6sX73rWeNTVILSILulFHxBzUhV1x8rpIxKeRbo_afZcIGzm6tpd') no-repeat;
        background-size: cover;
        background-position: left;
        position: absolute;
        top: 100px;
        bottom: 50px;
        left: 65%;
        width: 500px;
        border-radius: 30px;
        z-index: -1;
    }

    .featured-car-list {
        -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .get-start-list {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer-brand {
        width: 100%;
    }

    .footer-text {
        max-width: 400px;
    }

    .footer-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-block: 30px;
        -webkit-box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
                box-shadow: 3px 3px 9px rgba(163, 163, 186, 0.2);
    }

    .social-list {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .hero .container {
        width: 100%;
    }

    .blog .blog-list {
        padding-bottom: 50px;
    }

    .blog .blog-list>li {
        max-width: 450px;
    }

    .footer-list {
        width: 25%;
    }


}

@media (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }

    .nav-toggle-btn {
        display: none;
    }

    .navbar {
        all: unset;
    }

    .navbar-link {
        margin-bottom: 0;
        font-weight: 600;
    }

    .navbar-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 50px;
    }

    .hero {
        min-height: 100vh;
    }

    .hero-banner {
        left: auto;
        right: 50px;
        width: 630px;
    }

    .hero-form {
        max-width: 900px;
    }

    .hero-form .btn {
        width: calc(100% - 40px);
        height: 50px;
        margin: 20px;
        text-transform: uppercase;
    }

    .featured-car-list {
        -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .get-start-list {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }

    .blog .blog-list>li {
        max-width: 340px;
    }

    .footer-brand {
        width: 33.33%;
    }

    .footer-text {
        max-width: 35ch;
    }

    .footer-list {
        width: 16.66%;
    }

    .footer-list {
        width: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    .blog-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 40px;
    }
}